<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

*   Identify duplicate values in the dataset.

*   Remove duplicate values from the dataset.

*   Identify missing values in the dataset.

*   Impute the missing values in the dataset.

*   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [118]:
# Importing Pandas
import pandas as pd

Load the dataset into a dataframe.

In [119]:
# Reading the data using the 'read_csv' pandas's method
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

Find how many duplicate rows exist in the dataframe.

In [120]:
# Summing the number of duplicated values in the dataset
no_of_dup = df.duplicated().sum()
print(f"There are {no_of_dup} values in the dataset.")

There are 154 values in the dataset.

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [121]:
# Dropping duplicated values using pandas's 'drop_duplicates' with a True 'inplace' parameter to make changes to the original dataframe 
df.drop_duplicates(inplace = True)

Verify if duplicates were actually dropped.

In [122]:
if df.duplicated().sum() == 0:
  print("Successfully dropped duplicated values")

Successfully dropped duplicated values

## Finding Missing values

Find the missing values for all columns.

In [123]:
# A dict to collect columns names with the no. of missing values in them
col_missing_val: dict = {
    col: df[col].isnull().sum()
    for col in df.columns if df[col].isnull().sum() != 0
}
# Creating a dataframe from the 'col_missing_val' column and resetting it's index 
missing_df = pd.DataFrame.from_dict(col_missing_val, orient= "index").reset_index()
# Setting the df columns
missing_df.columns = ["Column", "Number of missing values"]
# Sorting the columns in descending order by the number of their missing values 
missing_df.sort_values("Number of missing values", ascending = False)

                Column  Number of missing values
46        BlockchainIs                      2610
28          CodeRevHrs                      2426
45       BlockchainOrg                      2322
40  MiscTechWorkedWith                      2182
64        SONewContent                      1965
..                 ...                       ...
16          JobFactors                         3
10              JobSat                         1
27             CodeRev                         1
55           SOVisitTo                         1
59           SOAccount                         1

[73 rows x 2 columns]

Find out how many rows are missing in the column "WorkLoc"

In [124]:
# your code goes here
missing_vals = df["WorkLoc"].isnull().sum()
print(f"There are {missing_vals} in the 'WorkLoc' column")

There are 32 in the 'WorkLoc' column

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [125]:
# your code goes here
df["WorkLoc"].value_counts()

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

In [126]:
# Question from Quiz
df["Employment"].value_counts()

Employed full-time    10968
Employed part-time      430
Name: Employment, dtype: int64

In [127]:
# Question from Quiz
df["UndergradMajor"].value_counts()

Computer science, computer engineering, or software engineering          6953
Information systems, information technology, or system administration     794
Another engineering discipline (ex. civil, electrical, mechanical)        759
Web development or web design                                             410
A natural science (ex. biology, chemistry, physics)                       403
Mathematics or statistics                                                 372
A business discipline (ex. accounting, finance, marketing)                244
A social science (ex. anthropology, psychology, political science)        210
A humanities discipline (ex. literature, history, philosophy)             207
Fine arts or performing arts (ex. graphic design, music, studio art)      161
I never declared a major                                                  124
A health science (ex. nursing, pharmacy, radiology)                        24
Name: UndergradMajor, dtype: int64

In [128]:
# Question from Quiz
df["ConvertedComp"].value_counts()

2000000.0    138
1000000.0    105
100000.0      99
150000.0      92
120000.0      86
            ...
79183.0        1
20475.0        1
288732.0       1
22056.0        1
19880.0        1
Name: ConvertedComp, Length: 3515, dtype: int64

In [129]:
# Question from Quiz
df["ConvertedComp"].value_counts().mean()

3.0105263157894737

In [130]:
# Question from Quiz
df["ConvertedComp"].value_counts().median()

1.0

Identify the value that is most frequent (majority) in the WorkLoc column.

In [131]:
#make a note of the majority value here, for future reference
# Office

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [132]:
# Filling the missing values in the 'WorkLoc' with the most frequent value which is 'Office'
df["WorkLoc"].fillna(value = "Office", inplace = True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [133]:
if df["WorkLoc"].isnull().sum() == 0:
  print("There are no NULL values in the 'WorkLoc'.")

There are no NULL values in the 'WorkLoc'.

In [134]:
df["EdLevel"].value_counts()

Bachelor’s degree (BA, BS, B.Eng., etc.)                                              5852
Master’s degree (MA, MS, M.Eng., MBA, etc.)                                           2706
Some college/university study without earning a degree                                1361
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)     516
Associate degree                                                                       383
Other doctoral degree (Ph.D, Ed.D., etc.)                                              259
Professional degree (JD, MD, etc.)                                                     154
I never completed any formal education                                                  28
Primary/elementary school                                                               27
Name: EdLevel, dtype: int64

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq".

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called "NormalizedAnnualCompensation" which contains the "Annual Compensation" irrespective of the "CompFreq".

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column "CompFreq"

In [135]:
# your code goes here
df["CompFreq"].unique()

array(['Yearly', 'Monthly', 'Weekly', nan], dtype=object)

Create a new column named "NormalizedAnnualCompensation". Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [136]:
df["CompFreq"].value_counts()

Yearly     6073
Monthly    4788
Weekly      331
Name: CompFreq, dtype: int64

In [137]:
# Importing Any for type hinting
from typing import Any
# Importing pandas's DataFrame for type hinting
from pandas import DataFrame 

def normalize_col(column: DataFrame, replace: str, n_value: Any) -> None:
  """This function normalizes the 'CompFreq' to be all yearly."""
  column.replace(to_replace = replace, value = n_value, inplace = True)

# Normalizing the Yearly value to be 1 (as in one year)
normalize_col(df["CompFreq"], "Yearly", 1)

# Normalizing the Monthly value to be 12 (12 Month in one year)
normalize_col(df["CompFreq"], "Monthly", 12)

# Normalizing the Weekly value to be 52 (52 Weeks in one year)
normalize_col(df["CompFreq"], "Weekly", 52)

In [138]:
# Creating a new column 'NormalizedAnnualCompensation' which is 'CompTotal' multiplied by 'CompFreq'
df["NormalizedAnnualCompensation"] = df["CompTotal"] * df["CompFreq"]
# Displaying the dataframe head
df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase,NormalizedAnnualCompensation
0,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy,61000.0
1,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult,138000.0
2,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy,90000.0
3,16,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult,348000.0
4,17,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Australia,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;Multiracial,No,Appropriate in length,Easy,90000.0

In [139]:
normalized_annual_compensation_median = df["NormalizedAnnualCompensation"].median()
print(f"NormalizedAnnualCompensation median is {normalized_annual_compensation_median}")

NormalizedAnnualCompensation median is 100000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).